h1 {
   text-align : center;
   text-decoration :  underline ;
}

p {
    text-align :left;
    font-family :'Times New Roman', Times, serif;
    line-height: 3;
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

#i1 {
    font-weight : lighter ;
}

#i2 {
    font-weight : 500 ;
}

#i3 {
    font-weight : bolder ;
}

#one {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    color : red;
    line-height : 50px;
  font-size : 30px  
}