* {
   background-color: #212121;
   color : #fff
}

body {
   margin-left : 50px;
}

input {
   border : none;
    height: 28px;
    border : 1px solid white;
    margin-left : 10px;
}

.height , .weight {
    font-size: 20px;

}

button {
   /* height : 20px; */
   padding : 8px;
   background-color: #2f2d2d;
   font-size: 20px;
   margin-top: 10px;
}